html {
  font-size: 16px;
}

body {
  font-family: "Noto Serif JP", "Noto Sans JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

input,
button,
select,
textarea {
  font: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 27px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 16px;
  }
}

.header__list {
  display: flex;
  justify-content: center;
}

.header__item:not(:first-child) {
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  .header__item:not(:first-child) {
    margin-left: 80px;
  }
}

.header__link {
  font-size: 18px;
  color: #edebe9;
}
@media screen and (max-width: 768px) {
  .header__link {
    font-size: 16px;
  }
}

.fv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/FV-img.jpg);
  background-size: contain;
  aspect-ratio: 1440/780;
}
@media screen and (max-width: 768px) {
  .fv {
    background-image: url(../images/FV-img-sp.jpg);
    aspect-ratio: 375/650;
  }
}

.fv__title {
  font-size: 64px;
  color: #edebe9;
}
@media screen and (max-width: 768px) {
  .fv__title {
    font-size: 40px;
  }
}

.story {
  background-color: #edebe9;
  padding-top: 90px;
}
@media screen and (max-width: 768px) {
  .story {
    padding-top: 60px;
  }
}

.story__inner {
  max-width: 980px;
  margin-inline: auto;
  padding-inline: 30px;
}

.story__title {
  font-size: 46px;
  color: #170a01;
}
@media screen and (max-width: 768px) {
  .story__title {
    font-size: 28px;
  }
}

.story__text {
  font-size: 16px;
  color: #170a01;
  line-height: 2.25;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .story__text {
    font-size: 14px;
    line-height: 2.1428571429;
    margin-top: 30px;
  }
}