@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// header
.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 27px;
  width: 100%;
  @include mq("md") {
    padding-top: 16px;
  }
}

.header__list {
  display: flex;
  justify-content: center;
}

.header__item:not(:first-child) {
  margin-left: 100px;
  @include mq("md") {
    margin-left: 80px;
  }
}

.header__link {
  font-size: 18px;
  color: $gray;
  @include mq("md") {
    font-size: 16px;
  }
}

// fv
.fv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/FV-img.jpg);
  background-size: contain;
  aspect-ratio: 1440/780;
  @include mq("md") {
    background-image: url(../images/FV-img-sp.jpg);
    aspect-ratio: 375/650;
  }
}

.fv__title {
  font-size: 64px;
  color: $gray;
  @include mq("md") {
    font-size: 40px;
  }
}

// story
.story {
  background-color: $gray;
  padding-top: 90px;
  @include mq("md") {
    padding-top: 60px;
  }
}

.story__text {
  margin-top: 40px;
  @include mq("md") {
    margin-top: 30px;
  }
}

// experience
.experience {
  background-color: $gray;
  padding-top: 180px;
  padding-bottom: 180px;
  @include mq("md") {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.experience__content {
  display: flex;
  align-items: center;
  margin-top: 40px;
  @include mq("md") {
    flex-direction: column;
    align-items: initial;
  }
}

.experience__img {
  height: auto;
  width: calc(480 / 920 * 100%);
  @include mq("md") {
    width: 100%;
  }
}

.experience__text {
  margin-left: 40px;
  @include mq("md") {
    margin-left: 0;
    margin-top: 20px;
  }
}

// footer
.footer {
  background-color: $gray;
  padding-bottom: 40px;
  @include mq("md") {
    padding-bottom: 20px;
  }
}

.footer__copyright {
  font-size: 14px;
  color: $black;
  display: block;
  text-align: center;
  @include mq("md") {
    font-size: 12px;
  }
}

// 共通スタイル
.inner {
  max-width: 920px + 30px * 2; // 　innerの幅とpaddingの幅を合わせる
  margin-inline: auto;
  padding-inline: 30px;
}

.title {
  font-size: 46px;
  color: $black;
  @include mq("md") {
    font-size: 28px;
  }
}

.text {
  font-size: 16px;
  color: $black;
  line-height: calc(36 / 16);
  @include mq("md") {
    font-size: 14px;
    line-height: calc(30 / 14);
  }
}
