@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// header
.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 27px;
  width: 100%;
  @include mq("md") {
    padding-top: 16px;
  }
}

.header__list {
  display: flex;
  justify-content: center;
}

.header__item:not(:first-child) {
  margin-left: 100px;
  @include mq("md") {
    margin-left: 80px;
  }
}

.header__link {
  font-size: 18px;
  color: $gray;
  @include mq("md") {
    font-size: 16px;
  }
}

// fv
.fv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/FV-img.jpg);
  background-size: contain;
  aspect-ratio: 1440/780;
  @include mq("md") {
    background-image: url(../images/FV-img-sp.jpg);
    aspect-ratio: 375/650;
  }
}

.fv__title {
  font-size: 64px;
  color: $gray;
  @include mq("md") {
    font-size: 40px;
  }
}

// story
.story {
  background-color: $gray;
  padding-top: 90px;
  @include mq("md") {
    padding-top: 60px;
  }
}

.story__inner {
  max-width: 920px + 30px * 2; // 　innerの幅とpaddingの幅を合わせる
  margin-inline: auto;
  padding-inline: 30px;
}

.story__title {
  font-size: 46px;
  color: $black;
  @include mq("md") {
    font-size: 28px;
  }
}

.story__text {
  font-size: 16px;
  color: $black;
  line-height: calc(36 / 16);
  margin-top: 40px;
  @include mq("md") {
    font-size: 14px;
    line-height: calc(30 / 14);
    margin-top: 30px;
  }
}
